// Buttons
// -----------------------------------------------------------------------------

// base

%button-base {
  display: inline-block;
  vertical-align: middle;
  border-color: $divider-color;

  @extend %nav-pill-base;
  @extend %nav-pill-link;
  @include link-disabled('%button-base-disabled');
}

%button-base-disabled {
  border-color: darken($color-gray-lighter, 3%);
  background-color: lighten($color-gray-lighter, 3%);
  color: mix($color-white, $secondary-text-color);
  cursor: default;
}

// default

%button-default-base {
  border-color: $button-default-border;
  @include linear-gradient($button-default-light, $button-default-dark);
  background-repeat: repeat-x;
}

%button-default-focus {
  border-color: $focus-color;
  outline: none;
  box-shadow: 0 0 5px transparentize($focus-color, 0.5);
}

%button-default-text {
  color: $button-default-text;
  text-shadow: 0 1px 0 hsla(0, 100%, 100%, 0.9);
}

%button-default-hover {
  border-color: darken($button-default-border, 4%);
  @include linear-gradient(darken($button-default-light, 6%), darken($button-default-dark, 6%));
  color: $button-default-text;
}

%button-default-selected {
  border-color: darken($button-default-border, 13%);
  background-color: darken($button-default-dark, 7%);
  background-image: none;
  box-shadow: inset 0 2px 4px hsla(0, 0%, 0%, 0.15);
}

%button-default-disabled {
  border-color: mix($color-white, darken($button-default-border, 7%));
  background-color: mix($color-white, darken($button-default-dark, 3%));
  background-image: none;
  box-shadow: none;
  color: mix($color-white, $button-default-text, 62.5%);
  text-shadow: 0 1px 0 hsla(0, 100%, 100%, 0.9);
}

// colors

%button-red-text {
  color: $button-danger-text;
}

%button-white-text {
  color: $color-white;
  text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.25);
}

// primary

%button-primary-base {
  border-color: $button-primary-border;
  @include linear-gradient($button-primary-light, $button-primary-dark);
}

%button-primary-text {
  @extend %button-white-text;
}

%button-primary-hover {
  border-color: darken($button-primary-border, 5%);
  @include linear-gradient(darken($button-primary-light, 5%), darken($button-primary-dark, 5%));
  color: $color-white;
}

%button-primary-selected {
  border-color: darken($button-primary-border, 10%);
  background-color: darken($button-primary-dark, 5%);
}

%button-primary-disabled {
  border-color: mix($color-white, $button-primary-border);
  @include linear-gradient(mix($color-white, $button-primary-light), mix($color-white, $button-primary-dark));
  @extend %button-white-text;
}

// success

%button-success-base {
  border-color: $button-success-border;
  @include linear-gradient($button-success-light, $button-success-dark);
}

%button-success-text {
  @extend %button-white-text;
}

%button-success-hover {
  border-color: darken($button-success-border, 5%);
  @include linear-gradient(darken($button-success-light, 5%), darken($button-success-dark, 5%));
  color: $color-white;
}

%button-success-selected {
  border-color: darken($button-success-border, 10%);
  background-color: darken($button-success-dark, 5%);
}

%button-success-disabled {
  border-color: mix($color-white, $button-success-border);
  @include linear-gradient(mix($color-white, $button-success-light), mix($color-white, $button-success-dark));
  @extend %button-white-text;
}

// danger

%button-danger-text {
  @extend %button-red-text;
}

%button-danger-hover {
  border-color: $button-danger-border;
  @include linear-gradient($button-danger-light, $button-danger-dark);
  @extend %button-white-text;
}

%button-danger-selected {
  border-color: darken($button-danger-border, 15%);
  background-color: $button-danger-dark;
  @extend %button-white-text;
}

%button-danger-disabled {
  border-color: mix($color-white, $button-default-border);
  @include linear-gradient(mix($color-white, $button-default-light), mix($color-white, $button-default-dark));
  color: mix($color-white, $button-danger-text);
}

// extends

%button-default,
%button-primary,
%button-success,
%button-danger {
  @extend %button-default-base;
  &:focus { @extend %button-default-focus; }
  &, &:link, &:visited { @extend %button-default-text; }
  &:hover { @extend %button-default-hover; }
  &:active { @extend %button-default-selected; }
  @include link-selected('%button-default-selected');
  @include link-disabled('%button-default-disabled');
}

%button-primary {
  @extend %button-primary-base;
  &, &:link, &:visited { @extend %button-primary-text; }
  &:hover { @extend %button-primary-hover; }
  &:active { @extend %button-primary-selected; }
  @include link-selected('%button-primary-selected');
  @include link-disabled('%button-primary-disabled');
}

%button-success {
  @extend %button-success-base;
  &, &:link, &:visited { @extend %button-success-text; }
  &:hover { @extend %button-success-hover; }
  &:active { @extend %button-success-selected; }
  @include link-selected('%button-success-selected');
  @include link-disabled('%button-success-disabled');
}

%button-danger {
  &, &:link, &:visited { @extend %button-danger-text; }
  &:hover { @extend %button-danger-hover; }
  &:active { @extend %button-danger-selected; }
  @include link-selected('%button-danger-selected');
  @include link-disabled('%button-danger-disabled');
}

// misc

%button,
%button-link {
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}

%button {
  @extend %button-base;
}

%button-sm {
  padding: $pill-padding-sm-y-em $pill-padding-sm-x-em;
}

%button-link {
  color: $link-color;
  display: inline;
  padding: 0;
  border: 0;

  @include link-hover('%link-hover');
}

@if $style-button {
  .button { @extend %button; }
}

@each $style-button-item in $style-button {
  .button-#{$style-button-item} { @extend %button-#{$style-button-item}; }
}

@if $style-button-link {
  .button-link { @extend %button-link; }
}


// Fields
// -----------------------------------------------------------------------------

%field {
  padding: $pill-padding-y-em $pill-padding-sm-x-em;
  border: $pill-border-width solid hsl(0, 0%, 80%);
  border-radius: $pill-border-radius;
  vertical-align: middle;
  background-color: $bg-color;
  color: $text-color;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.075);
  height: $line-height-em + em-size($pill-padding-y + $pill-border-width) * 2;

  &:focus {
    border-color: $focus-color;
    outline: none;
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.075), 0 0 5px transparentize($focus-color, 0.5);
  }
}

%field-sm {
  padding: $pill-padding-sm-y-em $pill-padding-sm-x-em;
  height: $line-height-em + em-size($pill-padding-sm-y + $pill-border-width) * 2;
}

::placeholder {
  color: $hint-text-color;
}

%field-text {
  background-color: hsl(0, 0%, 98%);
  max-width: 100%;

  &:focus {
    background-color: $color-white;
  }
}

// checkbox, radio button

%field-checkbox,
%field-radio {
  + %field-checkbox,
  + %field-radio {
    margin-left: $gutter-em * 2;
  }

  > input {
    margin-right: $gutter-em;
  }
}

@each $style-field-item in $style-field {
  @if $style-field-item == default {
    .field { @extend %field; }
    input,
    textarea {
      &.field { @extend %field-text; }
    }
  } @else if $style-field-item == sm {
    .field-sm { @extend %field-sm; }
  } @else {
    .#{$style-field-item} { @extend %field-#{$style-field-item}; }
  }
}


// Notes
// -----------------------------------------------------------------------------

%note-success {
  color: $button-success-text;
}

%note-error {
  color: $button-danger-text;
}

@if $style-note {
  .note { @extend %note; }
}

@each $style-note-item in $style-note {
  .note-#{$style-note-item} { @extend %note-#{$style-note-item}; }
}


// Grouping
// -----------------------------------------------------------------------------

// gutter

%note,
%button,
%field,
%field-group {
  + %note,
  + %button,
  + %field,
  + %field-group {
    margin-left: $gutter-em;
  }
}

// base

%group-base-field {
  position: relative;

  &:focus,
  &:active {
    z-index: 2;
  }

  &.selected {
    z-index: 3;
  }
}

%group-base-all-field {
  margin-left: -1px;
  border-radius: 0;
  float: left;
}

%group-base-first-field {
  &:first-child {
    border-top-left-radius: $pill-border-radius;
    border-bottom-left-radius: $pill-border-radius;
  }
}

%group-base-last-field {
  &:last-child {
    border-top-right-radius: $pill-border-radius;
    border-bottom-right-radius: $pill-border-radius;
  }
}

// field-group

%field-group {
  @extend %clearfix;
  padding-left: 1px;
  display: inline-block;
  vertical-align: middle;

  %button,
  %field {
    @extend %group-base-field;
  }

  > %button,
  > %field {
    @extend %group-base-all-field;
    @extend %group-base-first-field;
    @extend %group-base-last-field;
  }

  > %field-col {
    @extend %group-base-all-field;
  }
}

// field-row

%field-row {
  display: inline-table;
  vertical-align: middle;

  %button,
  %field {
    @extend %group-base-field;
  }

  > %button,
  > %field {
    border-radius: 0;
    display: table-cell;
    width: 100%;

    @extend %group-base-first-field;
    @extend %group-base-last-field;

    ~ %field-col {
      > %button,
      > %field {
        margin-left: -1px;
      }
    }
  }

  > %field-col {
    display: table-cell;
    width: 1%;
    vertical-align: middle;

    > %button,
    > %field {
      width: 100%;
    }

    ~ %button,
    ~ %field {
      margin-left: -1px;
    }
  }
}

%field-col {
  > %button,
  > %field {
    border-radius: 0;
  }

  &:first-child {
    > %button,
    > %field {
      @extend %group-base-first-field;
    }
  }

  &:last-child {
    > %button,
    > %field {
      @extend %group-base-last-field;
    }
  }
}

@each $style-field-group-item in $style-field-group {
  @if $style-field-group-item == sm {
    .group-sm {
      .button { @extend %button-sm; }
      .field { @extend %field-sm; }
    }
  } @else {
    .field-#{$style-field-group-item} { @extend %field-#{$style-field-group-item}; }
  }
}


// Forms
// -----------------------------------------------------------------------------

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%;
}

%field-form {
  margin-top: 0;

  > dt {
    margin-bottom: ($line-height-em / 4);
  }

  > dd {
    > %field {
      width: 100%;
      max-width: 100%;
    }

    > p {
      margin-top: ($line-height-em / 4);
      color: $hint-text-color;
      font-size: 85%;
    }
  }
}

%field-form-error {
  > dt {
    color: $button-danger-text;
  }

  > dd {
    > p {
      display: none;
    }
  }
}

%field-form-notice {
  border: 1px solid hsl(55, 56%, 48%);
  border-top-color: hsl(0, 100%, 100%);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: $gutter-em / 0.85;
  display: inline-block;
  font-size: 85%;
  color: hsl(56, 39%, 21%);
  background-color: hsl(55, 91%, 65%);
}

%field-form-inline {
  @extend %clearfix;
  margin-left: (-$gutter-em);

  > %field-form,
  > p {
    float: left;
    margin-left: $gutter-em;
  }

  > %field-form {
    margin-top: ($line-height-em / 2);

    ~ p {
      padding-top: ($line-height-em * 5 / 4);
    }
  }
}

@each $style-field-form-item in $style-field-form {
  @if $style-field-form-item == default {
    .form { @extend %field-form; }
  } @else {
    .form-#{$style-field-form-item} { @extend %field-form-#{$style-field-form-item}; }
  }
}
